body {
  /*fixes a random medium screen issue,
  investigate further */
  overflow-x:hidden;
}

.trash-day {
  font-size: 4rem;
  margin: 0;
  font-weight: 600;
}

.search-form-container {
  width: 100%;
}

.search input[type="text"] {
  border-width: 1px 0px 1px 1px;
}

.intro {
  font-size:1.3rem;
  text-align:center;
}
